# Latex Compiled Files 
########################
*-concordance.tex
.DS_Store
*.aux
*.bbl
*.blg
*.log
*.out
*.gz

# Rstudio file        
#######################
.Rhistory
.Rproj.user

# Extra Figures
#######################
Paper/figure/

# Additional Files
#######################
Paper/figure/dist-pair-inform-1.pdf
Paper/figure/dist-pair-inform-2.pdf
Paper/figure/frontier-1.pdf
Paper/figure/results-1.pdf
Paper/figure/sixmonth-1.pdf

# For journal Files
#######################
Publication/
